* {
    max-width: 900px;
    max-height: 800px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    /* display: flex;
    justify-content: flex-start; */
    float: left;
    justify-content: space-around;
}

#blog-title {
    display: flex;
    float: left;
    font-weight: bold;
    font-size: 50px;
    justify-content: space-around;
}

#blog-tag-line {
    font-size: 10px;
    font-weight: 5; 
    font-stretch: condensed;
    justify-content: space-around;
}

.links {
    /* display: flex;
    justify-content: flex-end; */
    float: right;
    flex-wrap: wrap;
}

.nav-links-6 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.nav-links-2 {
    display: flex;
    flex-direction: row-reverse;
    /* flex-flow: row wrap; */
    justify-content: space-around;
}

hr {
    display: block;
    border: 10px;
    height: 10px;
    background-image: url('./assets/hr-img.png');
    background-repeat: repeat;
    width: 1000px;
    align-content: right;
}

.recipe-title{ 

}

.recipe-sub-title {
    font-size: 10px;
    font-weight: 5; 
    font-stretch: condensed;
}

p {
    width: 950px;
    padding-right: 200px;
    padding-left: 80px;
}