* {
    padding-top: 20px;
    padding-
}

ol {
    list-style: none;
}

hr {
    display: block;
    border: 10px;
    height: 10px;
    background-image: url('./assets/hr-img.png');
    background-repeat: repeat;
}

.nav-links-6 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nav-links-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}